@{
    var questions = ViewData["GroupQuestions"] as dynamic[];
}

@if (questions != null)
{
    foreach (var question in questions)
    {
        <div class="row mb-4">
            <div class="col-12">
                <h6>@question.Question</h6>
            </div>
            <div class="col-12">
                <div class="btn-group d-flex" role="group" aria-label="Rating">
                    @for (int i = 1; i <= 4; i++)
                    {
                        var ratingText = i switch {
                            1 => "Working towards",
                            2 => "Meets",
                            3 => "Exceeds",
                            4 => "Not observed",
                            _ => ""
                        };
                        <input type="radio" class="btn-check" name="@question.Field" value="@i" id="@(question.Field)_@i" autocomplete="off">
                        <label class="btn btn-outline-primary flex-fill" for="@(question.Field)_@i" title="@ratingText">
                            @i
                        </label>
                    }
                </div>
                <div class="form-text">
                    <small>1=Working towards | 2=Meets | 3=Exceeds | 4=Not observed</small>
                </div>
            </div>
        </div>
        <hr>
    }
}
